*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth; /*Pour que le défilement vers les sections soit fluide*/
      
}

body{
    background-color: #e7e4e4;
    color: #000000;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 9%;
    width: 100%;
    background-color: rgb(39, 36, 60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: violet;
}

.logo{
    position: relative;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(39, 36, 60);
    animation: showRight 1s ease forwards;
    animation-delay: 0.5s;
}

.navbar a{
    font-size: 1.7rem;
    color: #fff8dc;
    text-decoration: none;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

/* .navbar a::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    background: rgb(24, 19, 19);
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
} */

.navbar a:hover, 
.navbar a.active{
    color: #00abf0;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('/docs/moi.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
}

.home-content{
    max-width: 60rem;
    margin: 10px 0 40px;
}

.home-content h1{
    color: #9D3C0C;
    position: relative;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #e7e4e4;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
    line-height: 1.2s;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #e7e4e4;
    animation: showRight 1s ease forwards;
    animation-delay: 1.4s;
}

.home-content p {
    color: black;
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #e7e4e4;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 13rem;
    height: 100%;
    background: #e7e4e4;
    border: .2rem solid #00abf0;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #00abf0;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: #e7e4e4;
}

.btn-box .btn:nth-child(){
    background: transparent;
    color: #00abf0;
}

.btn-box .btn:nth-child():hover {
    color: #e7e4e4;
}

.btn-box .btn:nth-child()::before{
    background: #00abf0;
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:  #00abf0;
    /* animation: showRight 1s ease forwards;
    animation-delay: 1.8s; */
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: -5s;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
    background-color: #dcdad9;
    min-height: auto;
}

.heading{
    font-size: 30px;
    margin-bottom: 4rem; /*espace sous le titre */
    text-align: center;
    color: #9D3C0C;
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid #00abf0;
}

/***
.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid red;
    border-bottom: .2rem solid red;
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}**/

.about-content{
    text-align: justify;
}

/* .about-content h3{
    font-size: 6.6rem;
} */

.about-content p{
    font-size: 2.6rem;
    margin: 0 0 3rem;
    text-align: justify;
}

.btn-box .btns{
    display: inline-block;
    width: 15rem;
}

.btn-box .btns a::before{
    background: #e7e4e4;
}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education-column{
    flex: 1 1 40rem;
}

.education-column .education-box{
    border-left: .2rem solid #00abf0;
}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: #e7e4e4;
    border-radius: 50%;
}

.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #e7e4e4;
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before{
    width: 100%;
}

.education-content .content .year{
    font-size: 1.5rem;
    color: #9D3C0C;
    padding-bottom: .5rem;
}

.education-content .content .year i{
    padding-right: .5rem;
}

.education-content .content h3{
    font-size: 2rem;
    text-align: center;
}

.education-content .content p{
    font-size: 1.6rem;
    padding-top: .5rem;
    text-align: justify;
}

.services{
    min-height: auto;
    padding-bottom: 6rem;
    background-color: #dcdad9;
}

.services .services-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.services-row .services-column{
    flex: 0 1 30rem;
    text-align: center;
}

.services-content .title{
    font-size: 2rem;
    text-align: center;
    margin: 0 0 1rem;
}

.services-content p {
    font-size: 1.5rem;
    text-align: center;
}

.services-box .services-content{
    position: relative;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.services-box .services-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #e7e4e4;
    z-index: -1;
    transition: .5s;
}

.services-box .services-content:hover::before{
    width: 100%;
}

.services-content .prorgess{
    padding: 1rem 0;
}

.contact{
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #081b29;
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #081b29
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: #45688d;

}

.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea{
    resize: none;
}

.footer{
     display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: #45688d;
    color: #fff;
    position: relative; 
}

.footer-text p {
    font-size: 1.6rem;
}


.footer-sci{
    position: relative;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
}

.footer-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    animation: showRight 1s ease forwards;
    animation-delay: 2.2s;
    z-index: 2;
}

.footer-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}

.footer-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #e7e4e4;
    z-index: -1;
    transition: .3s;
    
}

.footer-sci a:hover::before{
    width: 100%;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #45688d;
    border: .2rem solid #081b29;
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #081b29;
    
}

.footer-iconTop a:hover i {
    color: black;
}


/*keyframes animations*/
@keyframes showRight{
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover{
    100%{
        pointer-events: auto;
    }
}

